<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <title>Sliders Example</title>
  </head>
  <body>
    <script type="text/template" id="slider-template">
      <div class="slider">
        <input type="range" class="slider" min="0" max="100" step="0.5"/>
        <p class="the-text">The Text</p>
         <progress max="100" value="80" class="progress"></progress>
      <div>
    </script>
    <script type="text/template" id="list-template">
      <ul>
        <% _.each(list, (i) => { %><li></li><% }); %>				  
      </ul>
    </script>    
    <div id="target"></div>
    <script>
      window.jsb = {ws: new WebSocket('ws://' + location.host + '/')};
      jsb.ws.onmessage = (evt) => eval(evt.data);
      jsb.debug = true;
      jsb.tick = 0;
      jsb.render = (t,o) => {
          jsb.tick = t;
          jsb.view = o;
          console.log(o);
          jsb.renderList(document.querySelector('#target'),o,jsb.renderSlider);
      }
      jsb.renderSlider = (el,o) => {
          var q = 'div.slider';
	  var ch = el.querySelectorAll(q);
	  if (ch.length == 0) {
	      // Only render HTML the first time around
	      var t = document.querySelector('#slider-template').innerHTML;
	      el.innerHTML = _.template(t)(o);
              el.querySelector('input.slider').oninput = function(e) {
		  jsb.event({slide:parseInt(this.getAttribute("data-event-id")),
			     value:parseFloat(this.value),
			     tick:jsb.tick})
	      }
	  }
          el.querySelector('input.slider').value = o.value;
          el.querySelector('p.the-text').textContent = o.value;
          el.querySelector('progress.progress').setAttribute('value',o.value);
	  el.querySelector('input.slider').setAttribute("data-event-id",o.event);
      }
      jsb.renderList = (el,o,f) => {
	  var q = ':scope>ul>li'; // Does not work in IE/Edge
	  var ch = el.querySelectorAll(q);
	  if (ch.length != o.length) {
	      // No need to do this if the list size is the same
	      var t = document.querySelector('#list-template').innerHTML;
	      document.querySelector('#target').innerHTML = _.template(t)({list:o});
	      ch = el.querySelectorAll(q)
	  }
	  _.each(ch,(el,i) => { f(el,o[i]) })
      }
    </script>
  </body>
</html>
